/* General styles */


body {
    font-family: Arial, sans-serif;
  }
  
  .WEB-API-TEXT {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .WEB-API h5 {
    font-size: 18px;
    margin-left: 15%;
    margin-bottom: 10px;
  }
  
  .WEB-API p {
    margin-left: 3%;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .WEB-API-IMG img {
    width: 700px;
    height: 290px;
    margin-left: 50%;
    margin-top: -15%;
  }
  
  .REACT-TEXT h5 {
    font-size: 18px;
    margin-left: 63%;
    margin-top: 5%;
  }

  .REACT-TEXT p {
    margin-left: 50%;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  .REACT-IMG img {
    width: 600px;
    height: 250px;
    margin-left: 2%;
    margin-top: -15%;
    padding-bottom: 5%;
  }
  .REACT-TEXT-H3 h3 {
    text-align: center;
    font-size: 24px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .HTML-CARD,
  .BOOTSTRAP-IMG,
  .NODE-IMG {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* add this to display text under the images */
  }
  
  .HTML-CARD img {
    width: 70%;
    height: 100%;
  }
  
  .BOOTSTRAP-IMG img {
    width: 70%;
    height: 100%;
  }
  
  .NODE-IMG img {
    width: 70%;
    height: 100%;
  }
  
  /* add these rules to display text under the images */
  .HTML-TEXT,
  .BOOTSTRAP-TEXT,
  .NODE-TXT {
    grid-row: 2;
  }
  
  .HTML-TEXT h5 {
    margin-left: 40%;
    font-size: 20px;
  }
  
  .HTML-TEXT p {
    text-align: justify;
    margin-left: 15%;
  }
  
  .BOOTSTRAP-TEXT h5 {
    margin-left: 40%;
    font-size: 20px;
  }
  
  .BOOTSTRAP-TEXT p {
    text-align: justify;
    margin-left: 15%;
  }
  
  .NODE-TXT h5 {
    margin-left: 40%;
    font-size: 20px;
  }
  
  .NODE-TXT p {
    text-align: justify;
    margin-left: 15%;
  }
  
  @media only screen and (max-width: 768px) {
    .WEB-API-IMG img {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-top: 0;
    }
    
    .REACT-TEXT h5 {
      margin-left: 0;
      margin-top: 10px;
    }
    
    .REACT-IMG img {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-top: 0;
      padding-bottom: 0;
    }
    
    .HTML-CARD,
    .BOOTSTRAP-IMG,
    .NODE-IMG {
      width: 100%; /* set width to 100% to take up the full width of the screen /
      height: auto;
      flex-direction: row; / switch back to horizontal layout */
      height: auto;
      }
      .HTML-CARD img,
      .BOOTSTRAP-IMG img,
      .NODE-IMG img {
        width: 100%; /* set image width to 100% to take up the full width of the parent element */
        height: auto;
      }
      
      .HTML-TEXT,
      .BOOTSTRAP-TEXT,
      .NODE-TXT {
        grid-row: auto; /* reset grid-row to default value */
      }
      
      .HTML-TEXT h5,
      .BOOTSTRAP-TEXT h5,
      .NODE-TXT h5 {
        margin-left: 0; /* remove margin */
        text-align: center; /* center text */
      }
      
      .HTML-TEXT p,
      .BOOTSTRAP-TEXT p,
      .NODE-TXT p {
        margin-left: 0; /* remove margin */
        text-align: center; /* center text */
      }
    }      


